<!DOCTYPE html>
<html>
  <head>
    <title>Callings - Logged in</title>
    <link rel="stylesheet" media="screen" type="text/css" href="css/styles.css">
  </head>
  <body>
    <main id="result">
      <h1>Welcome, <%= uname %>.</h1>
      <h2>You have successfully logged in!</h2>
      <h2>You have <%= uname %> access.</h2>
      <form action="/" method="get">
        <input type="submit" name="home" id="submitHome" value="Home">
      </form>
    </main>
  </body>
</html>
