* {box-sizing: border-box};

h1 {
    font-size: 2rem;
    padding-bottom: 0;
}

h2 {
    color: brown;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

input {margin-bottom: 5px;}

input:hover {
    color: orangered;
}

#mainContent {
    border: 5px solid black;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background: rgb(191, 222, 235);
}

main form {
    display: inline-block;
    text-align: left;
}

table {
    background-color: black;
    border: 2px solid black;
}

#atable {
    position:relative;
}
#atable-scroll {
    height:150px;
    overflow:auto;  
    margin-top:20px;
}
#atable table {
    width:100%;
}
#atable table * {
    background:burlywood;
    color:black;
}
#atable table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}

form .button1 {
    background-color: #de2226;
    color: white;
    font-size: 1.5vw;
    padding: 12px;
  }

td {padding: 5px;}

#shipinfo {
    background-color: burlywood;
    border: 2px solid black;
    display: block;
}

main div p { 
    text-align: left;
    clear: both;
}

.bold {font-weight: 900;}

nav ul {
    display: inline-block;
    border: 2px solid black;
    padding-right: 10px;
    background: yellow;
}

#registration {
    margin: 0vw 1vw;
}

.registerbtn, .regbtn {
    background-color: violet;
    color: black;
    font-size: 1.5em;
    padding: 5px;
    margin-top: 1.5em;
  }

  form legend {
    padding: 0 2px;
    font-weight: bold;
  }

  form label {
      display: inline-block;
  }

  #registration ol {
      list-style-type: none;
  }

  #mainnav li {
      display: inline;
      padding-right: 10px;
  }

  .results {
      color: rgba(195, 0, 255, 0.452);
      font-size: 1.5vw;
  }

  #login {
      display: block;
  }